* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}

.give_margin {
  padding-left: 8%;

}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  position: sticky;
  border-radius: 15px;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 1%;
}

.initial_nav {
  display: flex;
  column-gap: 35px;
  /*distance between the nav items*/

  position: relative;
  right: 65px;
  margin-bottom: 6px;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 11px;
  margin-bottom: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


a img {
  width: 115px;
}

#search {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: -19px;
}

.initial_nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 700;
}

.right_nav {
  display: flex;
  column-gap: 45px;
  margin-right: 111px;
}

.right_nav a {
  text-decoration: none;
  color: #5c1d62;
  font-weight: 700;
  margin-top: 7px;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

.Talk_to_sales {
  border-radius: 15px;
  font-size: 14px;
  color: #5c1d62;
  font-weight: 600;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 15px;
  border-width: 1.5px;
  background-color: white;
  border-radius: 5px;
  border-color: #5c1d62;
}

.Try_for_free {
  border-radius: 15px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  padding: 11px 15px 11px 15px;
  border-width: 1.5px;
  border-radius: 5px;
  background-color: #5c1d62;
}

.features {
  display: flex;

}

.basis_40 {
  flex-basis: 40%;
}

.image_right {
  flex-basis: 55%;
}

.hero {
  width: 55%;
  position: absolute;
  right: -30px;
  margin-top: 19px;
  border-radius: 3px;
}

.feature_line {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 19px;
  padding: 20px;
}

.slack_features {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
}

.bolded_text {
  font-size: 40px;
  font-weight: 650;
  margin-top: 0px;
  margin-bottom: 0px;
}

.try_for_free {
  border-radius: 15px;
  font-size: 15px;
  color: white;
  font-weight: 600;
  padding: 20px 35px 20px 35px;
  border-width: 1.5px;
  border-radius: 5px;
  background-color: #5c1d62;
}

.see_all_feature {
  border-radius: 15px;
  font-size: 15px;
  color: #5c1d62;
  font-weight: 600;
  padding: 20px 35px 20px 35px;
  margin-left: 5px;
  border-width: 1.5px;
  background-color: white;
  border-radius: 5px;
  border-color: #5c1d62;
}

.partners_list {
  margin-top: 260px;
  padding-left: 0px;
  margin-left: 8%;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 2px;
  align-items: center;
}

.partners_list li img {
  display: flex;
  justify-content: space-around;
  /* max-width: 113px;
    height: 35px;
    margin-left: 8%; */
  max-width: 117px;
  height: 34px;
  margin-left: 0%;
}

.bigger_picture {
  width: 500px;
  height: 400px;
  margin-top: -63px;
  position: absolute;
  right: -30px;
  border-radius: 3px;
}

.purple {
  margin-top: 125px;
  height: fit-content;
  background-color: #f4ede4;
  width: 100%;
}

.one {
  display: flex;
  flex-direction: column;
  grid-area: one;
  background-color: white;
}

.two {
  display: flex;
  flex-direction: column;
  grid-area: two;
  background-color: white;
}

.three {
  display: flex;
  flex-direction: column;
  grid-area: three;
  background-color: white;
}

.four {
  display: flex;
  flex-direction: column;
  grid-area: four;
  position: relative;
  z-index: 69;
  background-color: white;
}

.five {
  display: flex;
  flex-direction: column;
  grid-area: five;
  background-color: white;
}

.six {
  grid-area: six;
  background-color: white;
}

.make_row {
  /* height: fit-content; */
  display: grid;
  grid-template-areas: "one two three four""one two five six";
  grid-template-columns: 25% 25% 25% 25%;
  margin: 44px;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  z-index: 89;
}

.make_row:hover {
  cursor: pointer;

}

.make_row div:hover {
  color: #1264a3;

  transform: scale(1.06);
  border-radius: 12px;

  /* margin: 9px;
     padding:15px; */


}

.two:hover {
  color: #1264a3;
}

.three:hover {
  color: #1264a3;
}

.four:hover {
  color: #1264a3;
}

.five:hover {
  color: #1264a3;
}

.make_row div {
  padding: 16px;
  border-radius: 8px;
}

.make_row div p:first-of-type {
  font-weight: 700;
  font-size: 17px;
}

.make_row div p {
  font-size: 17px;
  margin-top: 8px;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.make_flex1 {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.bolded_text_2 {
  font-size: 32px;
  font-weight: 700;
  margin: 90px 0px 0px 60px
}

.one_liner {
  margin: 15px 0px 0px 60px;
  font-size: 18px;
}

.box_white_1 {
  background-color: rgb(147, 126, 126);
  width: 300px;
  height: 180px;
}

.box_white_2 {
  background-color: rgb(182, 24, 24);
  width: 300px;
  height: 90px;
}

.make_flex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 35px;
}

.bigger_picture2 {
  width: 500px;
  height: 400px;
  margin: 0;
  position: relative;
  margin-left: 24%;
  /* margin-top: 4px; */
}

.right_text {
  margin-top: -90px;
  margin-left: 88px;
  width: 50%;
  text-align: left;
  row-gap: 10px;
}

.right_text p:first-of-type {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}

.make_row_2 {
  display: grid;
  grid-template-areas: "one two three ""one two four";
  grid-template-columns: 25% 25% 25% 25%;
  position: relative;
  top: -211px;
  left: 234px;
  margin: 44px;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  z-index: 89;
  margin-left: 12%;
}

.make_row_2 div {
  padding: 20px;
}

.make_row_2 div p:first-of-type {
  font-weight: 700;
  font-size: 17px;
}

.make_row_2 div p {
  font-size: 17px;
}

.cycle {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.cycle_image {
  height: 250px;
  width: 450px;
  margin: 101px;
  display: flex;
  margin-left: 10%;
  margin-top: 5%;
}

.cycle_para {
  width: 40%;
  margin-right: 186px;
  padding: 4px;
}

.cycle_para p {
  margin-top: -6px;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.para {
  font-size: 30px;
}

.small_delivery {
  width: 140px;
  height: 40px;
  padding: 3px;
  margin: 15px;

}

.cio {
  position: absolute;
  left: 750px;
}

.bring_explore {
  font-size: 30px;
  font-weight: bold;
  margin-left: 500px;
  margin-bottom: 35px;

}

.make_column_flex img {

  height: 200px;
  width: 250px;

}

.make_column_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
}

.make_column_flex p:first-of-type {
  color: rgb(86, 77, 77);
  font-weight: 400;
}

.make_column_flex:hover {
  box-shadow: 3px 3px 3px grey;
  transform: scale(1.05);
  transition: 0.15s ease-in-out;
}

.explore_flex div {
  flex-basis: 22%;
}

.explore_flex div img {
  margin: 13px;
}

.explore_flex div p {
  margin: 13px;
}

.explore_flex {
  margin-top: 50px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.make_bol {
  font-weight: bold;
  padding-top: 3px;
  height: fit-content;
  margin: 13px;
  font-size: 20px;
}

.learn_more {
  justify-self: flex-end;
  align-self: flex-start;
  color: #1264a3;
  font-weight: 600;
}

.frequent_ques {
  padding: 40px;
  margin-top: 110px;
  font-weight: bold;
  font-size: 30px;
  margin-left: 550px;
}

.ques_flex {

  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 128px;


}

.ques_flex div {
  padding: 35px;
}

.bottom_container {
  background: #4a154b;
  clip-path: ellipse(75% 100% at center top);
  height: 350px;
  border: none;
  padding-bottom: 5rem !important;
  margin-top: 160px;
}

.choose {
  color: #fff !important;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-top: 52px;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.bottom_footer_list_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 700;
  font-size: .9375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 50px 144px 0px 111px;

}

.bottom_footer_list_items li {
  display: flex;
  position: relative;
  font-size: .875rem;
  height: 40px;
  font-weight: 400;
  line-height: 1.4444;
  align-items: center;

}

.bottom_footer_list_items span {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  line-height: 1.4444;

}

hr {
  border: solid #ebeaeb 1px;
  top: 0;

}

.nav_footer {
  display: flex;
  flex-direction: row;

}

.Try_slack_bottom {
  /* display: inline-block;
  white-space: nowrap;
  flex-basis: auto;
  width: auto; */

  background: 0 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 4.2857;
  letter-spacing: 0.8px;
  font-size: .875rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  /* padding: 17px 55px 29px;
  
  margin-top: 5px;
  margin-left: 36%; */
  padding:7px 47px 0px;
  margin-left: 38%;
  position: absolute;
  margin-top: 4px;

}

.Talk_to_sales_bottom {

  background: 0 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border:2px solid white;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 4.2857;
  letter-spacing: 0.8px;
  font-size: .875rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#4a154b ;
  color: white;
  padding:2px 29px 0px;
  margin-left: 50.2%;
  position: absolute;
  margin-top: 4px;
}

.left_list {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  column-gap: 16px;
  cursor: pointer;
  margin-left: 102px;
  margin-right: 500px;
  margin-top: 38px;
  color: black;
  font-weight: bold;
}

.nav_footer_container ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav_footer_container {
  display: flex;
  flex-wrap: wrap;


}

.nav_footer_container_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.Download_Slack {
  margin: 20px;
  position:absolute;
  margin-top:38px;
  margin-left: -6%;

}

.social_links {
  display: flex;
  justify-content: space-evenly;
margin: auto;
  position: absolute;
  margin-top: 40px;
  margin-left: 4%;
  column-gap: 25px;
  flex-wrap: wrap;
}


.end {
  text-align: left;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: normal;
  font-size: .75rem;
  color: #454245;

  margin: 30px;
  margin-left: 102px;
}
